body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#form-tarefa {
    display: flex;
    margin-bottom: 20px;
}

#form-tarefa input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-tarefa button {
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#lista-tarefas {
    list-style: none;
    padding: 0;
}

#lista-tarefas li {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#lista-tarefas li.concluida {
    text-decoration: line-through;
}
